#modelviewer{
    width: 70%;
    height: 100%;
    position: fixed;
    margin: 0;
    background-color:rgb(233, 233, 233);
}

canvas{
  width: 100%;
  height: 100%;
}
.rightnavigator{
   z-index: 999;
   right: 0;
   margin: 0;
   
    position: absolute;
    background-color: rgb(255, 255, 255);
    width:30%;
    height: auto;
   
}

.color{
  color:coral;
}

.price{
  position: absolute;
  z-index: 99;
  right: 5%;
  bottom: 5%;
  font-size: 2em;
  text-align: right;
  color: rgb(74, 74, 74);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

